*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: xx-large;
  background-color: rgb(17, 16, 17);
}

.container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: #400b3a;
  border-radius: 8px;
  transform-origin: 128px;
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
  0% {
      background: rgb(97, 25, 68);
  }
  25% {
      background: #f1bbdf;
  }
}

.login-box {
  position: absolute;
  width: 400px;
}

.login-box form {
  width: 100%;
  padding: 0 50px;
}

h2 {
  font-size: 2em;
  color: rgb(231, 112, 227);
  text-align: center;
}

.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #770f54;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: rgb(149, 52, 162);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #720e56;
    padding: 0 6px;
    color: rgb(79, 8, 77);
}

.forgot-pass {
  margin: -15px 0 10px;
  text-align: center;
}

.forgot-pass a {
  font-size: .85em;
  color: #fff;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: rgb(246, 145, 232);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
} 

.signup-link {
  margin: 20px 0 10px;
  text-align: center;
}

.signup-link a {
  font-size: 1em;
  color: rgb(243, 132, 195);
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}



nav{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(27, 26, 26);
  box-shadow: 3px 3px 5px rgba(205, 101, 176, 0.897);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 70px;
  float: left;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(163, 27, 102);
}

nav a:hover{
  background-color: #030303;
}

nav li:first-child{
  margin-right: auto; font-size: 50px; font-style: italic; font-family: hand; font-weight: bolder;
}

.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(41, 2, 47, 0.981);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(150, 64, 114, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
background-color: rgb(247, 191, 216);
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
 .menu-button{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }


}